spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      # Explicit SSL enforcement (redundant but clear)
      data-source-properties:
        ssl: true
        sslmode: require
        channelBinding: require
  jpa:
    open-in-view: false

  server:
  port: ${SERVER}

frontend.url: ${FRONTEND_URL}
