spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    #driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      # Explicit SSL enforcement (redundant but clear)
      data-source-properties:
        ssl: true
        sslmode: require
        channelBinding: require

  server:
  port: ${APP_SERVER_PORT}

frontend.url: ${FRONTEND_URL}
